@font-face {
    font-family: bitty;
    src: url('../fonts/bitty.ttf');
}

body {
    color: #f2f5f5;
    font-family: bitty;
    line-height: 20px;
    background-color: #2d2136;
    padding: 5px;
}

.title {
    font-size: 26px;
    color: #ff6942;
    margin-bottom: 10px;
    font-weight: normal;
}

.patch {
    font-size: 23px;
    color: #3fa7dd;
    margin-bottom: 10px;
    font-weight: normal;
}