body {
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

#webview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-flex !important;
}
